<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/styles/log-page-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body>
    <div class="container" id="main">
        <div class="sign-up">
            <form action="index.html">
                <h1>Admin Sign-in</h1>
                <div class="social">   
                </div>

                <input type="text" name="text" placeholder="Name" required="">
                <input type="email" name="email" placeholder="Email" required="">
                <input type="password" name="password" placeholder="Password" required="">
                <button>Sign In</button>
            </form>
        </div>

        <div class="sign-in">
            <form action="index.html">
                <h1>Welcome to Task hub</h1>
                <h2>User Sign-In</h2>
                <p> </p>
                <input type="email" name="email" placeholder="Email" required="">
                <input type="password" name="password" placeholder="Password" required="">
                <a href="#">Forgot Password?</a>
                <button class="bt2">Sign In</button>
            </form>
        </div>

        
        <div class="overlay-con">
            <div class="overlay">
                <div class="left">
                    <h1>Sign-in as User</h1>
                    <p> </p>
                    <button id="signIN">Sign In</button>
                </div>
                <div class="right">
                    <h1>Sign-in as Admin</h1>
                    <p>Admin Welcome</p>

                    <button id="signUP">Sign IN</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../styles/log-page-script.js"></script>
</body>
</html>
